<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand cursor-pointer text-danger">Notes</a>
    <button
      class="navbar-toggler cursor-pointer"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item">
          <a
            class="nav-link text-black"
            routerLink="/home"
            routerLinkActive="active btn btn-danger text-white text-white!"
            aria-current="page"
            tabindex="0"
          >
            Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-danger-emphasis"
            routerLink="/login"
            routerLinkActive="active btn btn-danger text-white"
            aria-current="page"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-danger-emphasis"
            routerLink="/register"
            routerLinkActive="active btn btn-danger text-white"
            aria-current="page"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-body out"
            routerLink="/login"
            aria-current="page"
            (click)="logout();"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
